<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBC News Article Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css\style.css') }}">
</head>
<body>
    <h1>BBC News Article Input</h1>
    
    <div class="form-container">
        <form action="/submit" method="POST">
            <label for="topic">Please enter the topic:</label>
            <input type="text" id="topic" name="topic" required>
            
            <label for="title">Please enter the title for the article:</label>
            <input type="text" id="title" name="title" required>
            
            <button type="submit">Submit</button>
        </form>
    </div>

    {% if topic and title %}
    <div id="result">
        <h2>This is a BBC Supported news article!</h2>
        <p>Note that we are only dealing with long-read news articles and Sport/type(Sport/cricket) articles</p>
        <p><strong>Your topic is:</strong> {{ topic }}</p>
        <p><strong>Your title is:</strong> {{ title }}</p>
    </div>
    {% endif %}
    
</body>
</html>
